body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgb(241, 159, 5);
    display: flex;
    align-items: center;
}

.logoImg {
    height: 70px;
    padding-left: 10px;
}

main {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    flex: 1;
    min-height: 100vh;
}

.foodContent {
    padding: 0 10px;
}

h1 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    font-size: 30px;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

.rating {
    color: orange;
    font-size: 14px;
    font-weight: bolder;
}

.mainDishesHeadline {
    text-align: center;
    border-bottom: 5px solid rgb(134, 134, 134);
    padding-bottom: 2px;
}

.content {
    width: calc(100% - 280px);
}

.foodImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.lotusImg {
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -35px;
}

#menuCard {
    background-color: rgba(128, 128, 128, 0.24);
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.219);
}

#description {
    font-size: 12px;
}

#price {
    color: rgb(214, 139, 0);
    font-size: 14px;
}

#priceSection {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 5px;
}

#addButton {
    font-size: 16px;
    font-weight: 800;
    color: orange;
    border: 3px solid;
    cursor: pointer;
}

#addButton:hover {
    background-color: rgba(128, 128, 128, 0.096);
}

.basketWrapper {
    border-left: 3px solid rgb(128, 128, 128);
    width: 280px;
    flex: 1;
    padding: 10px;
}

.basket {
    position: sticky;
    top: 0;
    
}

.basketHeadline {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.336);
    text-align: center;
}

.renderedFood {
    background-color: rgb(182, 255, 149);
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
}

.amountSection {
    display: flex;
    justify-content: space-between;
}

.buttonSection {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.basketButton {
    font-size: 16px;
    color: orange;
    border: 2px solid;
    cursor: pointer;
    transition: 0.3s;
}

.basketButton:hover {
    scale: 1.3;
}

.totalResult {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 80px;
    width: 100%;
    background-color: rgb(31, 184, 0);
    margin-top: 10px;
}